@import "pages/normalaze.css";
@import "pages/page.css";

@import "blocks/header.css";
@import "blocks/header-art.css";
@import "blocks/product-week.css";
@import "blocks/about-us.css";
@import "blocks/reviews.css";
@import "blocks/contacts.css";
@import "blocks/footer.css";