body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #444444;
	background-color: white;
	min-width: 320px;
}
figure {
	margin:0;
}

fieldset,
legend {
	margin:0;
	padding:0;
}

blockquote{
	margin:0;
}
 img {
 	width: 100%;
 	height:auto;
 }
.btn{
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

}